*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box  ;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border: 1px solid red;
}

header img {
    height: 2.5rem; 
}

.menu {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}
.menu-hamburguer {
    border: 1px solid rgba(125, 125, 125, 0.497);    
    border-radius: 0.4em;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.067);
}
.tenis-img {
    /* position: absolute; */
}

.tenis-img img {
    transform: rotate(-20deg);
    
    /* position: relative; */
    width: 10.5rem;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;

}

.content-banner {
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
    border-radius: 0.5rem;
    padding: 0.5rem;
    
}

input[type="radio"]  {
    background-color: black;
}

